*{
	margin: 0 auto;
	padding: 0 auto;
}

.header a {
	font-size: 120%;
	color: gray;
  # padding: 5px 15px 5px 15px;
	text-decoration: none;
}
.header a:hover {
	color: rgba(96, 123, 100, 1);
	border-bottom: 4px solid rgba(96, 123, 100, 1);
}
.header a:active {
	border-bottom: 4px solid yellow;
}
.header ul {
	border: -1px solid blue;
	margin-left: 0px;
	padding-left: 0px;
	list-style: none;
	text-align: right;
}
.header li {
	border: -1px solid red;
	margin-left: 50px;
	line-height: 50px;											/* center y */
	display: inline-block;										/* !!! */
}

body {
  margin: 0;
  padding: 10px 5% 10px 5%;
  background-image: url(images/background_main.jpg);
  background-color: grey;
}
.header{

  height: 50px;

  margin: 10px 0% 10px 0%;
  padding: 10px 5% 10px 5%;
  border: 3px solid blue;
	background-color: #red;
}
.footer{
  height: 200px;

  margin: 30px 0% 10px 0%;
  padding: 10px 5% 10px 5%;
  border: 3px solid blue;
	background-color: black;
}
.logo{
  margin: 20px 0% 20px 0%;
  background-image: url(images/logo.png);
  #background-position: left;
  border: 3px solid 808080;
  width: 340px;
  height: 95px;
}
.wrapper{

  #height: 800px;

  opacity: 0.8;
  margin: 10px 0% 10px 0%;
  padding: 10px 5% 10px 5%;
  border: 3px solid blue;
	background-color: black;
}
.box_about{
  background-image: url(images/about.png);
  background-repeat: no-repeat;
	background-position: center top;
  margin-bottom: 10px;
  height: 400px;
  border: 3px solid yellow;

}
.box_press{
  background-image: url(images/press.png);
  background-repeat: no-repeat;
	background-position: center top;
  margin-bottom: 10px;
  height: 400px;
  border: 3px solid yellow;

}
.box_contactus{
  background-image: url(images/contactus.png);
  background-repeat: no-repeat;
	background-position: center top;
  margin-bottom: 10px;
  height: 400px;
  border: 3px solid yellow;

}
